# one hot encoding with many categories in the feature

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('mercedes.csv', usecols=['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

In [4]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [6]:
df['X1'].value_counts().head(10)

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: count, dtype: int64

### what we are going to do is we will take the top 10 categpories/ top 10 most frequent categories and we drop the other categories or consider it single(like zero, missing etc)
this technique is being used in KDD orange cup, technique is known as Esembeled

In [7]:
# lets do it for X1 feature
len(df['X1'].unique())

27

In [17]:
# we make the list of top 10 most frequent categories
lst10 = df['X1'].value_counts().head(10).index
lst10 = list(lst10)

In [18]:
lst10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [19]:
for categories in lst10:
    df[categories] = np.where(df['X1']==categories,1,0)

In [20]:
lst10.append('X1')

In [21]:
df[lst10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]