In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('titanic.csv', usecols=['Cabin', 'Survived'])

In [25]:
# replacing the NAN with 'missing'
df['Cabin'].fillna('Missing',inplace=True)

In [26]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [27]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [28]:
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [29]:
# percentage of survivied based on cabin
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [30]:
prob_df = df.groupby(['Cabin'])['Survived'].mean()

In [31]:
prob_df = pd.DataFrame(prob_df)

In [33]:
prob_df.head(22)

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [34]:
prob_df['Died']=1-prob_df['Survived']

In [35]:
prob_df.head(10)

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [36]:
prob_df['Probability_ratio']=prob_df['Survived']/prob_df['Died']
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [37]:
probability_encoded=prob_df['Probability_ratio'].to_dict()

In [38]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoded)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274